/* Rugby-League CSS */

.rl-main {
    width: 80%;
}

p,
h,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Quicksand;
}

h3 {
    color: red;
    font-weight: 600;
    text-align: center;
}

.gb-stadium {
    padding-bottom: 7vh;
    text-align: center;
}

.brutus {
    border: 0.5vw solid rgb(249, 221, 4);
    margin:auto;
    padding: 1vw;
    width: 30vw;
}

.multi-column {
    column-count: 2;
    column-gap: 3vw;
    padding: 1vw;
    padding-right: 3vw;
    text-align: justify;
}

hr {
    width: 96%;
}

.dragons-pic {
    border: 0.5vw solid rgb(249, 221, 4);
    display: block;
    margin: auto;
    margin-top: 6vh;
    padding: 1vh;
}

/* Slide */

.rl-slide-1 {
    border: 0.5vw solid rgb(249, 221, 4);
    margin:auto;
    margin-bottom: 3vh;
    max-width: 65%;
    padding: 2vh;
}

